<section>
  <owl-carousel-o [options]="mainOptions">
    <ng-template carouselSlide>
      <img
        src="/images/grocery-banner-2.jpeg"
        class="w-full h-[350px]"
        alt="grocery-banner-2"
    /></ng-template>
    <ng-template carouselSlide>
      <img
        src="/images/grocery-banner.png"
        class="w-full h-[350px]"
        alt="grocery-banner"
    /></ng-template>
    <ng-template carouselSlide>
      <img src="/images/banner-4.jpeg" class="w-full h-[350px]" alt="banner"
    /></ng-template>
    <ng-template carouselSlide>
      <img src="/images/slider-2.jpeg" class="w-full h-[350px]" alt="slider-2"
    /></ng-template>
  </owl-carousel-o>
</section>
