<section class="bg-gray-200 p-10 my-14' md:w-1/2 mx-auto shadow">
  <h1 class="text-center text-4xl my-3">Checkout</h1>

  <form [formGroup]="checkoutForm">
    <app-input
      [element]="'text'"
      [control]="checkoutForm.get('shippingAddress')?.get('details')"
      [idInput]="'details'"
      [labelInput]="'Details'"
    ></app-input>
    <app-input
      [element]="'input'"
      [control]="checkoutForm.get('shippingAddress')?.get('phone')"
      typeInput="tel"
      [idInput]="'phone'"
      [labelInput]="'Phone'"
    >
      Accept anly egypt phone numbers
    </app-input>
    <app-input
      [element]="'input'"
      [control]="checkoutForm.get('shippingAddress')?.get('city')"
      typeInput="'text'"
      [idInput]="'city'"
      [labelInput]="'City'"
    ></app-input>

    <div class="flex items-center space-x-10">
      <button (click)="getOrderVisaData()" class="btn w-full pt-3 pb-3">
        payment By Visa
      </button>
      <button (click)="getOrderCashData()" class="btn w-full pt-3 pb-3">
        payment By Cash
      </button>
    </div>
  </form>
</section>
