<section
  class="bg-gray-100 border border-gray-200 p-4 shadow-md md:w-1/2 mx-auto my-14 rounded-lg"
>
  <h1 class="text-center mb-5 font-light text-3xl">Register Now</h1>
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <app-input
      [control]="registerForm.get('name')"
      [typeInput]="'text'"
      [idInput]="'name'"
      [labelInput]="'Name'"
    ></app-input>

    <app-input
      [control]="registerForm.get('email')"
      [typeInput]="'email'"
      [idInput]="'email'"
      [labelInput]="'Email'"
    ></app-input>

    <app-input
      [control]="registerForm.get('password')"
      [typeInput]="'password'"
      [idInput]="'password'"
      [labelInput]="'Password'"
    >
      custom field should match the pattern [should more than or equal 6]
    </app-input>

    <app-input
      [control]="registerForm.get('rePassword')"
      [typeInput]="'password'"
      [idInput]="'rePassword'"
      [labelInput]="'RePassword'"
    ></app-input>

    <app-input
      [control]="registerForm.get('phone')"
      [typeInput]="'tel'"
      [idInput]="'phone'"
      [labelInput]="'Phone'"
    >
      Accept only egypt phone numbers
    </app-input>

    <!-- @let rePasswordControl =registerForm.get('rePassword');
    <div class="relative mb-4">
      <div class="relative">
        <input
          [class]="{
            'border-green-600': rePasswordControl?.valid,
            'border-red-700':
              (rePasswordControl?.invalid && rePasswordControl?.touched) ||
              (registerForm.getError('mismatch') && rePasswordControl?.touched)
          }"
          formControlName="rePassword"
          [type]="flagrePassword ? 'password' : 'text'"
          id="rePassword"
          class="main-input peer"
          placeholder=" "
        />
        <label
          [class]="{
            'text-green-700': rePasswordControl?.valid,
            'text-red-700':
              (rePasswordControl?.invalid && rePasswordControl?.touched) ||
              (registerForm.getError('mismatch') && rePasswordControl?.touched)
          }"
          for="rePassword"
          class="main-label-input"
          >rePassword</label
        >
        <span
          (click)="flagrePassword = !flagrePassword"
          class="absolute top-1/2 end-4 -translate-y-1/2 cursor-pointer"
        >
          @if (flagrePassword===true) {
          <i if class="fas fa-eye"></i>
          }@else if(flagrePassword===false){
          <i class="fas fa-eye-slash"></i>
          }
        </span>
      </div>

      @if((registerForm.getError('mismatch') && rePasswordControl?.touched)||
      (rePasswordControl?.errors && rePasswordControl?.touched)){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <ul class="flex mt-1.5 list-disc list-inside">
          @if (rePasswordControl?.getError('required')) {
          <li>Input is required.</li>
          } @else if (registerForm.getError('mismatch')) {
          <li>Password confirmtion is incorrect</li>
          }
        </ul>
      </div>
      }
    </div> -->

    <button class="btn w-full mt-4 p-3">Register</button>

    @if (msgError) {
    <div
      class="flex mt-4 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-400 justify-center"
      role="alert"
    >
      <ul class="mt-1.5 list-disc list-inside">
        <li>{{ msgError }}</li>
      </ul>
    </div>

    }
  </form>
</section>
