<nav class="bg-gray-200 border-gray-200 dark:bg-gray-900">
  <div
    class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto py-4 px-4"
  >
    <a
      href="#00000000000"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img src="/images/freshcart-logo.svg" alt="freshcart-logo" />
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full grow md:flex md:w-auto" id="navbar-default">
      @if (islogin===true) {
      <ul
        class="ms-5 font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            routerLink="/home"
            routerLinkActive="text-white bg-green-500"
            class="block py-2 px-3 rounded-sm md:p-2 text-gray-500 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/products"
            routerLinkActive="text-white bg-green-500"
            class="block py-2 px-3 rounded-sm md:p-2 text-gray-500 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >Products</a
          >
        </li>
        <li>
          <a
            routerLink="/categoties"
            routerLinkActive="text-white bg-green-500"
            class="block py-2 px-3 rounded-sm md:p-2 text-gray-500 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >Catigories</a
          >
        </li>
        <li>
          <a
            routerLink="/brands"
            routerLinkActive="text-white bg-green-500"
            class="block py-2 px-3 rounded-sm md:p-2 text-gray-500 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >Brands</a
          >
        </li>
        <li>
          <a
            routerLink="/wishlist"
            routerLinkActive="text-white bg-green-500"
            class="block py-2 px-3 rounded-sm md:p-2 text-gray-500 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >Wish List</a
          >
        </li>
        <li>
          <a
            routerLink="/allorders"
            routerLinkActive="text-white bg-green-500"
            class="block py-2 px-3 rounded-sm md:p-2 text-gray-500 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >All Orders</a
          >
        </li>
      </ul>
      }

      <ul
        class="font-medium ms-auto flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-2 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li class="flex items-center">
          <a
            href="#"
            class="block py-2 px-3 rounded-sm md:p-2 text-gray-950 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
          >
            <i class="fab fa-instagram"></i>
          </a>
          <a
            href="#"
            class="block py-2 px-3 rounded-sm md:p-2 text-gray-950 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
          >
            <i class="fab fa-facebook"></i>
          </a>
          <a
            href="#"
            class="block py-2 px-3 rounded-sm md:p-2 text-gray-950 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
          >
            <i class="fab fa-tiktok"></i>
          </a>
          <a
            href="#"
            class="block py-2 px-3 rounded-sm md:p-2 text-gray-950 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
          >
            <i class="fab fa-twitter"></i>
          </a>
          <a
            href="#"
            class="block py-2 px-3 rounded-sm md:p-2 text-gray-950 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
          >
            <i class="fab fa-linkedin"></i>
          </a>
          <a
            href="#"
            class="block py-2 px-3 rounded-sm md:p-2 text-gray-950 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
          >
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        @if(islogin===false){
        <li>
          <a
            routerLink="/login"
            routerLinkActive="text-white bg-green-500"
            class="block py-2 px-3 rounded-sm md:p-2 text-gray-500 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >Login</a
          >
        </li>
        <li>
          <a
            routerLink="/register"
            routerLinkActive="text-white bg-green-500"
            class="block py-2 px-3 rounded-sm md:p-2 text-gray-500 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >Register</a
          >
        </li>
        } @else {
        <li>
          <a
            routerLink="/cart"
            routerLinkActive="text-green-600"
            class="w-fit relative block py-2 px-3 text-2xl rounded-sm md:p-2 text-gray-500 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            ><i class="fas fa-cart-shopping"></i>
            <span
              class="absolute bg-green-600 text-white text-[10px] top-0 end-0 z-10 p-1 rounded-lg"
              >{{ count }}</span
            >
          </a>
        </li>
        <li>
          <a
            (click)="signOut()"
            class="cursor-pointer block py-2 px-3 rounded-sm md:p-2 text-gray-500 hover:text-green-700 transition-colors duration-200"
            aria-current="page"
            >Signout</a
          >
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
