<section class="bg-gray-200 my-10 p-10 md:w-1/2 mx-auto">
  <div class="container">
    <ol
      class="justify-between items-center w-full space-y-4 sm:flex sm:space-x-8 sm:space-y-0 rtl:space-x-reverse"
    >
      <li
        [class.text-blue-600]="step === 1"
        [class.text-gray-500]="step != 1"
        class="flex items-center space-x-2.5 rtl:space-x-reverse"
      >
        <span
          [class.border-blue-600]="step === 1"
          [class.border-gray-500]="step != 1"
          class="flex items-center justify-center w-8 h-8 border rounded-full shrink-0"
        >
          1
        </span>
        <span>
          <h3 class="font-medium leading-tight">verifyEmail</h3>
          <p class="text-sm">Step details here</p>
        </span>
      </li>
      <li
        [class.text-blue-600]="step === 2"
        [class.text-gray-500]="step != 2"
        class="flex items-center space-x-2.5 rtl:space-x-reverse"
      >
        <span
          [class.border-blue-600]="step === 2"
          [class.border-gray-500]="step != 2"
          class="flex items-center justify-center w-8 h-8 border rounded-full shrink-0"
        >
          2
        </span>
        <span>
          <h3 class="font-medium leading-tight">verifyCode</h3>
          <p class="text-sm">Step details here</p>
        </span>
      </li>
      <li
        [class.text-blue-600]="step === 3"
        [class.text-gray-500]="step != 3"
        class="flex items-center dark:text-gray-400 space-x-2.5 rtl:space-x-reverse"
      >
        <span
          [class.border-blue-600]="step === 3"
          [class.border-gray-500]="step != 3"
          class="flex items-center justify-center w-8 h-8 border rounded-full shrink-0"
        >
          3
        </span>
        <span>
          <h3 class="font-medium leading-tight">resetPassword</h3>
          <p class="text-sm">Step details here</p>
        </span>
      </li>
    </ol>

    @if (step===1) {
    <form [formGroup]="verifyEmail" (ngSubmit)="formStep1()">
      <app-input
        [control]="verifyEmail.get('email')"
        [typeInput]="'email'"
        [idInput]="'email'"
        [labelInput]="'Email'"
      ></app-input>
      <button class="btn w-full py-3">Verify Email</button>
    </form>
    }@else if(step===2){
    <form [formGroup]="verifyCode" (ngSubmit)="formStep2()">
      <app-input
        [control]="verifyCode.get('resetCode')"
        [typeInput]="'number'"
        [idInput]="'resetCode'"
        [labelInput]="'ResetCode'"
      ></app-input>
      <button class="btn w-full py-3">Verify Code</button>
    </form>
    }@else if(step===3){
    <form [formGroup]="resetPassword" (ngSubmit)="formStep3()">
      <app-input
        [control]="resetPassword.get('newPassword')"
        [idInput]="'newPassword'"
        [labelInput]="'NewPassword'"
      >
        custom field should match the pattern [should more than or equal 6]
      </app-input>
      <app-input
        [control]="resetPassword.get('reNewPassword')"
        [idInput]="'reNewPassword'"
        [labelInput]="'ReNewPassword'"
      ></app-input>
      <button class="btn w-full py-3">Confirm Password</button>
    </form>
    }
  </div>
</section>
